
<main class="container w-full h-full relative flex flex-col justify-center">
  <!-- blurred hero image -->
  <div class="w-full h-1/3">
    <img class="w-full h-2/3" src="./images/beer-bar-glass.jpg">
  </div>
  <!-- logo image  -->
  <div class="absolute flex justify-center self-center rounded-full bg-white z-10 main-logo">
    <img class="w-1/2" src="./images/DUI-droplet.svg" alt="dui">
  </div>
  <!-- main content -->
  <div class="w-full grey-split h-2/3 bg-gray-200 flex flex-col">
    <div class="flex flex-col items-center mt-2 mx-auto w-full mt-24">
      <h1 class="font-bold relative text-6xl mb-0 dui-blue">DUI</h1>
      <h6 class="text-gray-600 m-0">Don't Under-estimate It</h6>
      <button onclick="window.location.href = '/register';" role="button" class="btn-lg py-5 px-6 text-2xl font-bold w-1/2 relative mt-6">SIGN-UP</button>
      <p class="mt-6 text-gray-600">Already set up?</p>
      <button onclick="window.location.href = '/login';" class="btn-lg mt-2 py-2 px-6 font-bold">LOGIN</button>
    </div>
  </div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

